@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dynalight&display=swap');

.logoimage{
    width: 80px;
}
body{
    background-color: #eff1ed;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    padding: 25px 50px;
    background-color:#766153;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    padding: 35px;
    font-family: 'cabin';
    font-size: 20px;
    color: #BCBD8B;
}
nav a:hover{
    background-color:black ;
    color: #D8D0C1;
}
#content{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#homeheader{
    grid-column: 2/3;
}
#home-img-one{
    grid-column: 2/3;
}
#home-img-two{
    grid-column: 2/3;
}
#homefooter{
    grid-column: 2/3;
}
.hometitle{
    font-family: 'dynalight';
    justify-content: space-around;
    display: flex;
    font-size: 60px;
    margin-bottom: 50px;
}
.homep{
    font-family: 'cabin';
    justify-content: space-around;
    display: flex;
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
figcaption{
    justify-content: space-around;
    display: flex;
    font-family: 'cabin';
    font-size: 10px;
    color:black;
    margin-top: -5px;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #766153;
}
footer a{
    font-family: 'cabin';
    font-size: 20px;
    color: #BCBD8B;
    text-decoration: none;
}
footer a:hover{
    background-color:black ;
    color: #D8D0C1;
}
.home-page-pic-one{
    border: 10px solid #766153;
    box-shadow: 5px 5px 5px  #BCBD8B;
}
.home-page-pic-two{
    border: 10px solid #766153;
    box-shadow: 5px 5px 5px  #BCBD8B;
}



#contentgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#content1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1/2;
}
#highschool{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
}
#tradeschool{
    grid-column: 2/3;
    grid-row: 3/4;
}
#college{
    grid-column: 2/3;
    grid-row: 5/6;
    margin-bottom: 50px;
}
#content11{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    grid-column: 2/3;
    font-size:0;
}
#education-image-one{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 10px solid #766153;
    box-shadow: 5px 5px 5px  #BCBD8B;
    margin-bottom: 178px;
}
#education-image-two{
    grid-column: 2/3;
    grid-row: 4/5;
    border: 10px solid #766153;
    box-shadow: 5px 5px 5px  #BCBD8B;
    margin-bottom: 178px;
}
.ala{
    font-family: 'dynalight';
    font-size: 60px;
    margin-bottom: 50px;
}
.alap{
    font-family: 'cabin';
    font-size: 18px;
    margin-right: -100px;
}
.evit{
    font-family: 'dynalight';
    font-size: 60px;
    margin-bottom: 50px;
    margin-right: -50px;
}
.evitp{
    font-family: 'cabin';
    font-size: 18px;
    margin-right: -100px;
}
.byui{
    font-family: 'dynalight';
    font-size: 60px;
    margin-bottom: 50px;
}
.byuip{
    font-family: 'cabin';
    font-size: 18px;
    margin-right: -100px;
}